{% extends 'base.html' %} {% load static %} {% block content %}

<div class="columns is-mobile">
    <div class="column is-offset-one-fifth">

        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search Users..." value="{{ request.GET.q }}" aria-label="Search">
        </form>



    </div>
</div>

<div class=" column is-one-quarter ">

    {% for user in users %}
    <div class="box ">
        <article class="media ">
            <div class="media-left ">

                {% if user.profile.picture %}
                <img src="{{ user.profile.picture.url }} " class="img-fluid z-depth-1 rounded-circle " alt=" Placeholder image "> {% else %}
                <img src="https://bulma.io/images/placeholders/96x96.png " alt="Placeholder image "> {% endif %}

            </div>
            <div class="media-content ">
                <div class="content ">
                    <p>
                        <strong>{{ user.profile.first_name }} {{ user.profile.last_name }}</strong><small>@{{ user.username }}</small>
                    </p>
                    <a href="{% url 'newconversation' user.username %} " class="btn blue-gradient btn-rounded ">Send a message!</a>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}


</div>

{% endblock %}