{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Back!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="text">Log in to Continue</div>
        <div class="page">
            <div class="title">instagram</div>
            <form>
                {% csrf_token %}
                <input type="text" placeholder="Phone number, username, or email">
                <input type="password" placeholder="Password"> {% if form.errors %}
                <div class="row">
                    <div class="col s12">
                        <span style="color: red; font-weight: bold;">Your username or password did not match.</span>
                    </div>
                </div>
                {% endif %}

                <button>Log in</button>
                <div class="option">OR</div>
            </form>
            <div class="fblink">
                <span class="fab fa-facebook"></span>
                <a href="#">Log in with Facebook</a>
            </div>

            <div class="forget-id">
                <a href="#">Forget password?</a>
            </div>

            <div class="signup">
                <p>Don't have an account?<a href="{% url 'signup' %}">Sign up</a></p>
            </div>
        </div>
    </div>

</body>

</html>