{% extends 'base.html' %} {% load static %} {% block content %}


<!-- Purple Header -->
<div class="edge-header blue-gradient"></div>

<!-- Main Container -->
<div class="container free-bird">
    <div class="row">
        <div class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2">

            <!--Naked Form-->
            <div class="card-body">
                <h2 class="h2-responsive"><strong>New Post</strong></h2>
                <p class="pb-4">Upload Files and Images</p>

                <!--Body-->
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 class="h5-responsive">Add a Caption</h5>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt fa-2x"></i>
                        <br>
                        <input type="text" class="form-control">
                        <label for="form2"></label>
                    </div>

                    <h5 class="h5-responsive">Tags</h5>
                    <div class="md-form">
                        <input type="text" id="form11" class="form-control" disabled>
                        <label for="form11" class="disabled">Tag(add tags, separeted by commas)</label>{{ form.tags }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-hashtag"></i>
                         </span>
                    </div>
                    <form class="md-form">
                        <div class="file-field">
                            <a class="btn btn-default  mt-0 float-left">
                                <i class="fas fa-paperclip" aria-hidden="true"></i>
                                <input type="file">
                            </a>
                        </div>
                    </form>

                    <button type="submit" name="newpost" class="btn btn-default-color-dark file-path validate ">Post</button>

                </form>

                <div class="my-2 ">
                    <p style="font-weight:300;font-size:0.75rem ">Anita is amazing!!</p>
                </div>

            </div>
            <!--Naked Form-->

        </div>
    </div>
</div>
<!-- /.Main Container -->





{% endblock %}